.about{
    color: white;    
}
.about h1{
    font-size: 10vw;
}
.about p{
    /* word-wrap:; */
    margin-right: 50px;
    margin-left: 50px;
    font-size: 2vw;
    text-align: center;
}